/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "tailwindcss";
@import './theme/fonts.scss';
@import './theme/variables.scss';

*{
  font-family: var(--font-body);
}

body{
    margin: 0;
}

.main-container{
    padding: 32px;
}

.text-green{
    color: green;
}

.text-red{
    color: red;
}