#end{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header-container{
    display: flex;
    align-items: center;
    gap: 16px;

    .p-avatar{
        border-radius: 8px !important;
        overflow: hidden;
        border: 1px solid var(--neutral-100);
    }
}

.drawer{
    width: 40vw !important;;
}