<section id="afi-calendar-container">
  <p-card>
    <ng-template #title>
      <div class="card-header">
        <h2 style="font-family: var(--font-display);">Calendario de AFIs</h2>
        <p-select
          [options]="monthSelector"
          [(ngModel)]="selectedMonth"
          (ngModelChange)="onMonthChange()"
          optionLabel="name"
          placeholder="Selecciona un mes"
          size="small"
          [style]="{ 'max-width': '50%' }"
        >
          <ng-template let-option #item>
            <div style="white-space: normal">
              {{ option.name }}
            </div>
          </ng-template>
        </p-select>
      </div>
    </ng-template>
    <p-table
      [value]="afis"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 20, 30]"
      [tableStyle]="{ 'min-width': '60rem' }"
      showGridlines
      stripedRows
    >
      <ng-template #header>
        <tr>
          <th>Área</th>
          <th>Organizador</th>
          <th>Evento</th>
          <th>Fecha</th>
          <th>Horario</th>
          <th>Disponibles</th>
          <th>Registrado</th>
        </tr>
        <tr>
          <th>
            <p-columnFilter field="area" matchMode="equals" [showMenu]="false">
              <ng-template #filter let-value let-filter="filterCallback">
                <p-select
                  [ngModel]="value"
                  [options]="areaSelector"
                  (onChange)="filter($event.value)"
                  placeholder="Select One"
                  [showClear]="true"
                  [style]="{ 'min-width': '12rem' }"
                  size="small"
                >
                  <ng-template let-option #item>
                    {{ option }}
                  </ng-template>
                </p-select>
              </ng-template>
            </p-columnFilter>
          </th>
          <th>
            <p-columnFilter
              field="organizador"
              matchMode="equals"
              [showMenu]="false"
            >
              <ng-template #filter let-value let-filter="filterCallback">
                <p-select
                  [ngModel]="value"
                  [options]="organizadorSelector"
                  (onChange)="filter($event.value)"
                  placeholder="Select One"
                  [showClear]="true"
                  [style]="{ 'min-width': '12rem' }"
                  size="small"
                >
                  <ng-template let-option #item>
                    {{ option }}
                  </ng-template>
                </p-select>
              </ng-template>
            </p-columnFilter>
          </th>
          <th>
            <p-columnFilter
              type="text"
              field="evento"
              placeholder="Buscar evento"
              ariaLabel="Filtrar Evento"
            ></p-columnFilter>
          </th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template #body let-afi>
        <tr>
          <td>{{ afi.area }}</td>
          <td>{{ afi.organizador }}</td>
          <td>{{ afi.evento }}</td>
          <td>{{ afi.fechaInicio }} - {{ afi.fechaFin }}</td>
          <td>{{ afi.horaInicio }} - {{ afi.horaFin }}</td>
          <td>{{ afi.disponibles }}</td>
          <td>
            <span
              [ngClass]="{
                'text-green': afi.registrado,
                'text-red': !afi.registrado
              }"
            >
              {{ afi.registrado ? "Sí" : "No" }}
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</section>
